* { box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#top-menu {
  width: 100%;
  height: 40px;
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  opacity: 0.7;
  padding: 5px;
}

nav {
  margin-right: 15%;
  margin-left: 10%;
}

.button{
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  float: right;
  padding: 2.5px;
  margin-right: 10px;

}

#black {
  background-color: #000000;
  width: 100%;
  height: 40px;
}
/* textos, fonts, styles etc... */

#text-nav {
  color: #ffffff;
  font-size: 1.2em;
  float: right;
}

/* eslogan */
#eslogan-padre {
  padding-top: 10%;
  padding-left: 35%;
  padding-right: 35%;
}

#eslogan-hijo {
  overflow: hidden;
  background-color: #000000;
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
  font-size: 1.2em;
  color: #F9F6F5;
  opacity: 0.9;
  width: 100%;

}

/* end eslogan */
/* end textos, fonts... */


#content-padre {
  background-image: url("../images/fondo-section.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
}

#content-hijo {
  width: 100%;

}
/*   border: 4px double #BFBFBF */
/* marcos style */

.gallery {
  width: 100%;
  height: 100%;
}

.g-mida {
  overflow: hidden;
  width: 20%;
  height: 30%;
}

.g-separacion-lateral {
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.g-separacion-botom {
  margin-bottom: 2.5%;
}

.g-groove {
  border-color: #013954;
  border-width: 10px;
  border-style:groove;
}


.g-puntos-raya {
  border-top: black 5px dashed;
  border-right: green 10px double;
  border-bottom: blue 10px dotted;
  border-left: red 5px solid;
}

.g-marco-double {
 border: #D46A6A 5px double;
}

.g-outset {
  border: #5C7187 5px outset;
}

.g-puntos {
  border: #6BB29D 10px dotted;
}

.g-decolores {
  border-color: #004B34 #00B57E #00A8A8 #8A9E9E;
  border-width: 10px;
  border-style: solid;
}

.g-redondeado-separado {
  padding: 3px 10px;
  border: #003B2E 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.g-left-top {
  border-top: #616971 5px dashed;
  border-left: #051525 5px solid;
}

.g-borde-radius1 {
  padding: 3px 10px;
  border: #000C22 5px dashed;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

img {
  width: 100%;
  height: 100%;
}
/* fin marcos style */


#logo {
  width: 32px;
  float: bottom;
  height: 100%;
}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 3;

}

#iframe-atom {
  width: 100%;
  height: 100%;
  border: 0;
}


#top-image {
  background-image: url("images/fondo.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*  seccion fondo colores */
.fondo-colores {
  width: 100%;
  height: 100%;
  animation: pulse 2s;
}

@keyframes pulse {

  0% {
    background-color: #000000;
  }
  2% {
    background-color: #002437;
  }
  4% {
    background-color: #012C43;
  }
  7% {
    background-color: #002527;
  }
  10% {
    background-color: #004649;
  }
  12% {
    background-color: #000C19;
  }

  15% {
    background-color: #00787E;
  }
  20% {
    background-color: #00979E;
  }
  24% {
    background-color: #001314;
  }

  27% {
    background-color: #053100;
  }
  29% {
    background-color: #00571A;
  }
  35% {
    background-color: #00982E;
  }
  37% {
    background-color: #BDF400;
  }
  40% {
    background-color: #FFE800;
  }
  45% {
    background-color: #FFA400;
  }
  48% {
    background-color: #FF9200;
  }
  52% {
    background-color: #FF7F00;
  }
  55% {
    background-color: #753A00;
  }
  59% {
    background-color: #FF6200;
  }
  62% {
    background-color: #752D00;
  }
  67% {
    background-color: #752100;
  }
  70% {
    background-color: #FF4900;
  }
  75% {
    background-color: #751000;
  }
  79% {
    background-color: #D21D00;
  }
  82% {
    background-color: #001F3F;
  }
  100% {
    background-color: #ffffff;
  }
}

.seccion1 {
  width: 100%;
  height: 20%;
  background-color: #fff;
}

#seccion1-2 {
  color: #656463;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #101010;
  color: #ffffff;
  padding: 18px 45px;
  padding-bottom: 30px;
}


/* fin seccion fondo colores*/



@media only screen and (max-width: 760px) {
  /* For mobile phones: */
.gallery .g-mida{
    width: 100%;
    margin-bottom: 10px;
  }
}
